<html>
  <template id="cardTemplate" class="card">
    <article class="card-description">
      <slot name="card-name" class="roboto-bold"></slot>
      <slot name="card-description" class="roboto-light"></slot>
    </article>
  
    <div class="card-footer">
  
      <article>
        <span class="roboto-regular">Proficient</span>
        <div>
          <span class="roboto-regular tag">Tag1</span>
          <span class="roboto-regular tag">Tag2</span>
        </div>
      </article>
      <article class="card-action">
        <span class="roboto-regular">Action</span>
        <button class="roboto-regular">Contact</button>
      </article>
    </div>
  </template>
</html>