body {
  background-color: rgb(202, 202, 202);
}

.card {
  background-color: white;
  max-width: 12em;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    article > * {
      font-size: .8rem;
    }

    .card-action {
      display: flex;
      flex-direction: column;
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

}


.c-description {
  color: rgb(141, 141, 141);
  font-size: .7rem;
}

.tag {
  background-color: rgb(210, 229, 243);
  padding: .2rem;
  padding-left: .4rem;
  padding-right: .4rem;
  font-size: .8rem;
  border-radius: 4px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}